
.body{
    margin:0;
    font-family: Ubuntu, 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.row{
    width: 50%;
    margin:0 auto;
    height: 100%; 
    display:block;
    overflow: auto;
    left: 25%;
    background-color: #1d323f;
    z-index: 5;
    position: absolute;

}

.line{
    height:1px; background-color: beige; width: 80%; margin: auto;
}
.highlight{
    text-align: center;
    color: rgba(212, 243, 235, 0.719);
}


.form{
	height: 100%;
	position: relative;
	box-sizing: border-box;
	overflow: auto;
	display: inline-block;
	margin: auto 0;
    color: rgba(212, 243, 235, 0.719);
    width: 100%;
    padding:15px 70px;
    
}  

.form-div{
display: block;
margin: 0 auto;
}
.form-row{
    padding-top:10px;
}
.form-row label{
padding:0;
color: rgba(212, 243, 235, 0.719);
}

.heading1{
    color: rgba(212, 243, 235, 0.719);
    text-shadow: 1px 1px 2px #000000;
    text-align: center;
    font-family: "Tw Cen MT", sans-serif;
    font-size: 25pt;
}

.heading2{
    color: rgba(212, 243, 235, 0.719);
    text-shadow: 1px 1px 2px #000000;
    text-align: center;
    font-family: "Tw Cen MT", serif;
    font-size: 24pt;
}


.input{
			width: 100%;
			padding: 15px;
			border-collapse: collapse;
			border:none;
			outline: none;
			border: none;
            margin-top: 5px;
            margin-bottom: 10px;
            background-color: rgba(212, 243, 235, 0.719);
            
		}
		
		.submit_btn{
            width: 70%;
            margin-top: 10px;
            margin-bottom: 10px;
			border:none;
			border-radius: 7px;
			border-collapse: collapse;
			text-align: center;
            font-size: 12pt;
            background-color:   #0baa88;
            padding: 10px 10px;
            font-weight: 400;
        }
        .btn_div{
            padding-top: 5px;
            padding-bottom: 5px;
            margin: 0 auto;
            text-align: center;
        }

        .submit_btn:hover {
            font-weight: 400;
            color: #f58a25;
        }

		.other-links{
			padding-top: 5px;
            padding-bottom: 5px;
            margin: 0 auto;
            text-align: center;
            
        }
        
        .other-links a {
            color: #0baa88;
            font-size: 14pt;
            text-decoration: none;
        }
       
   .other-links a:hover {
        color: #f58a25;
    }
    
   .other-links a:active {
        color: #0baa88;
            font-size: 14pt;
            text-decoration: none;
    } 
    /* label{
        padding-left: 10px;
    } */
    .label_error{
        text-align: left;
        color: #f58a25;
        padding-left: 15px;
    }
@media(max-width:991px){
    .row{
        width: 100%;
    }
    .form{
        /* height: auto; */
        position: relative;
        box-sizing: border-box;
        background-color: #1d323f;
        display: inline-block;
        margin: auto 0;
        color: #fff;
        width: 100%;
        height:100%;
        padding:15px 40px;
        
    }
    .submit_btn{
        width: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
        border:none;
        border-radius: 7px;
        border-collapse: collapse;
        text-align: center;
        font-size: 12pt;
        background-color:   #0baa88;
        padding: 10px 10px;
    }
    .submit_btn:hover {
        background-color:#f58a25;
        color: white;
    }
    .other-links a {
        color: #0baa88;
        font-size: 14pt;
        text-decoration: none;
    }
   
.other-links a:hover {
    color: #f58a25;
}

.other-links a:active {
    color: #0baa88;
        font-size: 14pt;
        text-decoration: none;
} 
/* label{
    padding-left: 10px;
} */
.label_error{
    text-align: left;
    color: #f58a25;
    padding-left: 15px;
}
}